<!DOCTYPE html>
<head>
    <title><%=PAGE_TITLE%></title>
    
    <!--Socket IO-Client from Node Modules-->
    <script type="text/javascript" src="../socket.io/socket.io.js"></script>

    <!--JQuery From Google Code -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


    <!--JS file for writing our own sockets-->
    <script type="text/javascript" src="./javascripts/mySockets.js"> 
    </script>



</head>
<body>
    <h1>Awesome, we have a working node server with Socket.IO!</h1>
    <b> Check out the javascript console to see if this client received a message from the server :).</em>

</body>
</html>